html
  head
    title=title
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  body(style={'background-color': color })
    #content 
      .bigquestion=message
      | <div class='questionnumber'>
      a(href=`/question/`+ questionnumber) # #{questionnumber} 
      | / 
      =totalnumberofquestions
      | </div>
      | <div class="refreshbuttonblock"><input class="refreshbutton" type="button" value="Another One!" onClick="window.location.reload()"></div>