html
  head
    title=title
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  body(style={'background-color': color })
    #content 
      .bigquestion=message
      | <div class='questionnumber'># 
      =questionnumber 
      |  / 
      =totalnumberofquestions
      | </div>