body {
    font-family:helvetica;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

h1 {
    color: navy;
}

.bigquestion {
    font-size: 4em;
}

.questionnumber {
    font-size: xx-small;
    text-align: right;
}

.refreshbuttonblock {
    position: fixed;
    bottom: 40%;
}

.refreshbutton {
    padding:16px 32px;
    font-size:16px;
    font-weight:100;
    color:#fff;
    background: #587286;
    border:0;
    font-weight:100;
}